@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "normalize.css";
@import "bootstrap.min.";

* {
	box-sizing: border-box;
}

p {
	font-size: 1em !important;
}

body {
	font-family: "Roboto",Arial,sans-serif;
	background-color: #f8e5e5;
	font-size: 0.8em;
}

 div.card{
	background-color: #f8e5e5 !important;
}

 a.card-link {
	color:#000000 !important;
  }

	a:hover {
	 color: #fa255e;
	}
