@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

@import "normalize.css";
@import "bootstrap.min.css";


/*resets de base*/
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto",Arial,sans-serif;
	background-color: #fff;
	font-size: 0.8em;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	width: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: black;
}

a:hover {
	color: #fa255e;
}

/*dar estilo al header y footer*/
.main-header, .main-footer{
	background-color: #303030;
	color: #f1f1f1;
}

/*dar estilo al menu de usuario*/
.nav-avatar {
	width: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	padding: 2px;
	margin-top: 5px;
	float: right;
}

.user-menu {
	float: left;
	overflow: hidden;
	padding-top: 15px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #303030;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	padding: 12px 16px;
	display: block;
	text-align: left;
}

.user-menu:hover .dropdown-content {
	display: block;
}

footer ul {
	padding-bottom: 30px;
}

header a, footer a {
	color: #f1f1f1;
}

.iso {
	float: left;
	width: 50px;
}

.logo {
	width: 100px;
	margin: 10px 10px;
}

.copyright img {
	width: 30px;
}

.copyright p {
	padding-top: 8px;
	font-size: 0.6em;
}

.social-links {
	text-align: right;
}

/*dar estilo a la sección de inicio*/
#login-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fa255e;
	color: #000000;
	font-size: 1em;
	max-width: 150px;
	max-height: 50px;
	padding: 5px;
	border-radius: 5px;
	margin: 15px auto;
}

#login-button:hover {
	color: #fff;
}

.register-link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1em;
	margin: 20px auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: pink;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 35vw; /* Could be more or less, depending on screen size */
}

/*Keep modal open*/
.show {
		display: block;
	}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* estilo formulario de login*/
.modal-link {
	color: #fa255e;
}

.modal-link:hover {
	text-decoration: underline;
}

/*dar estilo al carousel*/
.carousel {
	text-align: center;
	background-image: url(../images/beach-group.jpg);
	background-size: cover;
	color: #f1f1f1;
	text-shadow: 2px 2px 2px #000;
	padding: 30px 15%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.carousel p {
	font-size: 1.2em;
}


/*dar estilo a la barra de búsqueda*/
.search-bar {
	background-color: #303030;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
}

.search-bar h3, .search-bar label {
	color: #f1f1f1;
	margin-top: 0px;
}

/*dar estilo a los botones de submit*/
.submit-button {
	background-color: #fa255e;
	border-style: none;
	padding: 4px 15px;
	border-radius: 5px;
}

/*dar estilo a los eventos destacados*/
.tile-image {
	margin-top: 15px;
	margin-bottom: 15px;
}

.tile-label {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background-color: rgba(0,0,0,0.6);
	color: #f1f1f1;
	padding: 8px;
}

/* estilo formulario de registro*/
.register-body {
	background-image: url(../images/ibiza.jpg);
	background-size: cover;
	padding: 20px;
	margin-top:15px;
	margin-left: 15px;
	margin-right: 15px;
}

.centeredTitle{
	display: flex;
	justify-content: center;
	color: black;
}

.form-row {
	display: flex;
	justify-content: center;
}

.boton{
	display: flex;
	justify-content: center;
}

.btn-btn-primary {
	background-color: #fa255e;
	border-style: none;
	padding: 4px 15px;
	border-radius: 5px;
	font-size:110%
}

.btn-btn-primary:hover {
	text-decoration: underline;
	color: white;
}

.invalid-feedback {
	font-size:110%;
	color:black;
	background-color: #fa255e;
	padding-left: 12px;
	border-radius: 5px
}


/*Estilo del Perfil*/
.profile{
	width: 100%;
	position: relative;
	padding-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	background: #FFF;
}

.profile .cover {
	display: block;
	position: relative;
	z-index: 0;
	overflow: hidden;
	text-align: center;
	border: 5px solid #FFF;
}

.profile .user {
	position: relative;
	padding: 0px 5px 5px;
}

.profile .user .avatar .avatarUser {
	position: absolute;
	left: 30px;
	top: -80px;
	z-index: 1;
	max-width: 50%;
	border-radius: 50%;
	max-width: 150px;
}

.profile .info {
	display: block;
	float: left;
	margin: -35px 0px 0px 180px;
  }

.coverImage {
	width:800px;
	height:300px;
}

.profilePic {
	border-radius: 50%;
}

/*Perfil de viajero*/
.tituloEventos{
	padding-top: 20px;

	}

.column {
	float: left;
	max-width: 100px;
	padding-left: 0px;
	padding-right:0px;
	margin: 10px;
	position: relative;
}

.label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0,0,0,0.4);
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 20px 0;
	border-radius: 5px;
}

.interest {
	background-color: #C39EA0;
	border-radius:8px;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
}

.checked {
  color: #FA255E;
}

.special-hr {
	height: 6px;
	border-right: none;
	border-left: none;
	border-top: solid 1px #C39EA0;
	border-bottom: solid 1px #C39EA0;
}

/*Eventos*/
.timeline {
	height: auto;
	margin:5px auto 0;
	padding: 5px;
}

.timeline li{
	position: relative;
	list-style: none;
}

.timeline li .item {
	position: relative;
	min-height: 60px;
	padding: 0 20px 20px 30px;
	margin-left: 20px;
	border-left: 1px solid;
}

.timeline li:last-child .item{
	border-left: 1px solid transparent;
}

.timeline li .item span {
	position: absolute;
	top:-8px;
	left:-20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: #FA255E;
	color: #fff;
	font-weight: 700;
	border-radius: 50%;
}

/*Grupos*/

.groups-image {
	padding: 15px;
}

/*dar estilo a la barra de búsqueda de contactos*/
.people-search {
	margin: 20px;
}

/*dar estilo al contact-list*/
.contact-list {
	margin: 20px;
}

.profile-image {
	width: 40px;
	height: 40px;
}

/*dar estilo al FAQ*/
.card-header{
	background-color: #f8e5e5 !important;
}

/* styles temporales - prueba de estructura */
/* [class*=col], .container { */
	/* border: dashed 1px red; */
/* } */
