@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "normalize.css";
@import "bootstrap-grid.min.css";


/*resets de base*/
* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto",Arial,sans-serif;
	background-color: #f8e5e5;
	font-size: 0.8em;
}

ul, ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	width: 100%;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #f1f1f1;
}

a:hover {
	color: #fa255e;
}

/*dar estilo al header*/
.main-header, .main-footer{
	background-color: #303030;
	color: #f1f1f1;
}

.iso {
	float: left;
	width: 50px;
}

.logo {
	width: 100px;
	margin: 10px 10px;
}

/*dar estilo a la sección de inicio*/

.login-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fa255e;
	color: #000000;
	font-size: 1em;
	max-width: 150px;
	max-height: 50px;
	padding: 5px;
	border-radius: 5px;
	margin: 15px auto;
}

.login-button:hover {
	color: #fff;
}

.register-link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 1em;
	margin: 20px auto;
}

/*dar estilo a la barra de búsqueda de contactos*/
.busca-contactos {
	margin: 20px;
}

.search-button {
	background-color: #fa255e;
	border-style: none;
	padding: 4px 15px;
	border-radius: 5px;
}

/*dar estilo al contact-list*/
.contact-list {
	margin: 20px;
}

.imagen-perfil {
	width: 40px;
	height: 40px;
}

/*dar estilo al contenido del footer*/


.copyright img {
	width: 30px;
}

.copyright p {
	font-size: 0.6em;
}

.social-links {
	text-align: right;
}
